<!DOCTYPE html>
<head>
 <title>Bootstrap Example</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<h1>this is the count page</h1>
{{ fulltext }} has a total number of {{word_count}} words and the count of words is given as {{word_dict}} with {{l}}
<h1><a href={% url 'home' %}>Try Again</a></h1>

{% for k,v in l %}
<h3 class = "alert alert-danger">{{k}}->{{v}}</h3>
</br>
{% endfor %}
<h1 class = "alert alert-success"><a href={% url 'home' %}>Start again</a></h1>